// Place all the styles related to the Memo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-category {
  margin: 0 0.1em;
  padding: 0.3em 1em;
  color: #fff;
  background: #999;
  font-size: 80%;
  border-radius: 3px;
}
.post-category-design {
  background: #5aba59;
}
.post-category-pure {
  background: #4d85d1;
}
.post-category-yui {
  background: #8156a7;
}
.post-category-js {
  background: #df2d4f;
}